<!DOCTYPE html>
<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="user-scalable=no,width=device-width" />
	<title>我的资产</title>
	<link rel="stylesheet" href="../../static/css/common.css" />
	<link rel="stylesheet" href="../../static/css/stock.css" />
</head>
<body >
	
	<div class="idx5_wp" ng-controller="myAssetsCtrl">
		<!-- 正 posi 负 nega -->
		<div class="top_wp nega" ng-class="{'posi': myAssets.todayProfitRate > 0, 'nega':  myAssets.todayProfitRate < 0 }">
			<div class="state_wp clearfix">
				<div class="t_l">
					<span>上证&nbsp;&nbsp;</span>
					<span ng-bind="stockIndex.SSE.HQZJCJ ? stockIndex.SSE.HQZJCJ:'--'">--</span>
					<span>&nbsp;|&nbsp;</span>
					<span ng-bind="stockIndex.SSE.HQDQZF ? stockIndex.SSE.HQDQZF:'--'">--</span>
				</div>
				<div class="t_r">
					<span>深成&nbsp;&nbsp;</span>
					<span ng-bind="stockIndex.PLU.HQZJCJ ? stockIndex.PLU.HQZJCJ:'--'">--</span>
					<span>&nbsp;|&nbsp;</span>
					<span ng-bind="stockIndex.PLU.HQDQZF ? stockIndex.PLU.HQDQZF:'--'">--</span>
				</div>
			</div>

			<div class="top_c_wp">
				<div class="top_c1_wp">
					<div class="c1_tip_wp clearfix">

						<div class="c1_item1 c1_tip_1">当日收益率</div>
						<div class="c1_item2 c1_tip_2">总资金</div>
						<div class="c1_item3 c1_tip_3">可用资金</div>
					</div>

					<div class="c1_con_wp clearfix">

						<div class="c1_item1 c1_con_1" ng-bind="myAssets.todayProfitRateTxt ?  myAssets.todayProfitRateTxt : '--'">--</div>
						<div class="c1_item2 c1_con_2">
							<span ng-bind="myAssets.totalMoney ?  myAssets.totalMoney : '--'">--</span>元
						</div>
						<div class="c1_item3 c1_con_3">
							<span ng-bind="myAssets.todayMoney ?  myAssets.todayMoney : '--'">--</span>元
						</div>
					</div>
				</div>

				<div class="top_c2_wp">
					<a href="javascript:void(0)" class="c2_lk ">
						<div ng-if="!withdraw.isWithdraw">再赚<span ng-bind="withdraw.nowProfit ? withdraw.nowProfit : '--'">--</span>即可提现</div>
						<div  ng-if="withdraw.isWithdraw">已赚<span ng-bind="withdraw.nowProfit ? withdraw.nowProfit : '--'">--</span>可提现</div>
						
					</a>
				</div>

			</div>
		</div>

		<div class="btn_wp">
			<div class="btn_box clearfix">
				<a href="#" class="btn buy_lk">买入</a>
				<a href="#" class="btn sel_lk">卖出</a>
			</div>
		</div>

		<div class="con_wp">
			<div class="con_box">

				<ul class="con_list clearfix">

					<li class="list_item" >
						<a class="list_link" href="index01.html?index=0">
							<div class="logo_wp">
								<img src="../../static/img/stock/trade/lg1.png" alt="" class="logo_img" />
							</div>
							<div class="txt_wp">
								<span class="t">股票持仓</span>
							</div>
						</a>
					</li>

					<li class="list_item" >
						<a class="list_link" href="index01.html?index=3">	
							<div class="logo_wp">
								<img src="../../static/img/stock/trade/lg2.png" alt="" class="logo_img" />
							</div>
							<div class="txt_wp">
								<span class="t">撤单</span>
							</div>
						</a>
					</li>

					<li class="list_item" >
						<a class="list_link" href="index01.html?index=4">
							<div class="logo_wp">
								<img src="../../static/img/stock/trade/lg3.png" alt="" class="logo_img" />
							</div>
							<div class="txt_wp">
								<span class="t">交易记录</span>
							</div>
						</a>
					</li>

					<li class="list_item" >
						<a class="list_link" href="#">
							<div class="logo_wp">
								<img src="../../static/img/stock/trade/lg4.png" alt="" class="logo_img" />
							</div>
							<div class="txt_wp">
								<span class="t">提现</span>
							</div>
						</a>
					</li>

					<li class="list_item" >
						<a class="list_link" href="#">
							<div class="logo_wp">
								<img src="../../static/img/stock/trade/lg5.png" alt="" class="logo_img" />
							</div>
							<div class="txt_wp">
								<span class="t">收益分析</span>
							</div>
						</a>
					</li>

				</ul>

			</div>
		</div>

	</div>

	<div class="mod_dialog hide">
		<div class="mod_dialog_bg"></div>
		<div class="mod_dialog_content">
			<div class="content_wrap">
				<!-- title type1 -->
				<div class="layout1 tit1_wp">
					<div class="tit_txt">免费炒股，大赚真钱！</div>
				</div> 

				<!-- title type2 -->
				<!-- <div class="layout1 tit2_wp">
					<div class="tit_txt tit_b_b">追加保证金</div>
				</div> -->

				<div class="layout1 tip_wp">
					<div class="tip_txt">财神送你10000元股市创业本金，盈利能提现真钱哦~！</div>
				</div>

				<div class="layout1 btn_wp clearfix">
					<a href="#" class="btn_base btn_mid btn_blue">确定</a>
					<!-- <a href="#" class="btn_base btn_lf btn_mid btn_disable">取消</a>
					<a href="#" class="btn_base btn_rg btn_mid btn_blue">确定</a> -->
					<!-- <a href="#" class="btn_base btn_ful btn_blue">确定</a>  -->
				</div>
			</div>

		</div>
	</div>

	<script src="../../static/js_stock/config.js"></script>
	<script data-main="service/trade/index05" src="../../static/js_stock/lib/require.js"></script>
</body>
</html>